@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,900");
html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 2.3rem;
  font-family: 'Montserrat';
  color: #333366;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-size: 1.3rem;
  font-family: 'Montserrat';
  color: #666666;
  font-weight: 400;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 8.5rem; }

h4 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 1.1rem;
  color: #666666;
  text-transform: uppercase; }

h5 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase; }

h6 {
  font-family: 'Lato';
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase; }

p {
  color: #666666;
  font-size: 1.2rem;
  font-family: 'Lato';
  font-weight: 400; }

a {
  text-decoration: none;
  font-weight: bold; }

#button {
  background-color: #ffbb42;
  color: white;
  padding: 1.6rem 1rem;
  text-transform: uppercase;
  border-radius: 4px; }
  #button:hover {
    transform: rotate(0deg) scale(1.1, 1.1);
    transition: transform 300ms linear 0ms; }

.container {
  width: 90%;
  margin: 0 auto; }

.header {
  padding: 2rem 0 2.4rem 0;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    float: left; }
  .header .nav ul {
    list-style-type: none; }
    .header .nav ul li {
      margin-right: 2rem; }
    .header .nav ul a {
      padding: 1rem 2rem;
      color: #333366; }
      .header .nav ul a:hover {
        color: white;
        background-color: #ffbb42;
        padding: 1rem 2rem;
        border-radius: 4px; }
  @media (max-width: 3000px) {
    .header .menu {
      display: none; }
    .header .trigger {
      display: inline-block;
      margin: 3px;
      cursor: pointer; }
    .header .trigger i {
      display: block;
      width: 30px;
      height: 6px;
      margin: 4px auto;
      background: #222; }
    .header .show {
      display: block; } }

.home {
  background-color: #6699cc;
  padding: 10rem 0 34rem 0; }
  .home h2, .home h3 {
    color: white; }
  .home ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center; }
    .home ul input {
      margin: 0 2rem;
      /* border: none; */
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 1rem 8rem 1rem 3rem; }
  .home__banner {
    display: flex;
    justify-content: center; }
    .home__banner__laptop {
      position: absolute; }

.our__servises {
  padding: 10rem 0 15.8rem 0; }
  .our__servises__items {
    display: flex;
    flex-wrap: wrap; }
    .our__servises__items__block {
      display: flex;
      width: 48%;
      margin: 0 auto;
      margin-bottom: 8rem; }
      .our__servises__items__block__title {
        position: relative;
        margin-left: 8rem; }
      .our__servises__items__block__img {
        width: 4.5rem;
        height: 4.5rem;
        background-color: #a1a1a1;
        margin-top: 2rem;
        position: absolute; }

.about__us {
  background-color: #ffcc66;
  height: 62.6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between; }
  .about__us .image {
    background-image: url("../img/Layer 27.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 100%; }
  .about__us__text {
    width: 50vw;
    height: 100%;
    color: white;
    padding-left: 4rem;
    margin-top: 16rem; }

.choos__price {
  background-color: #e7edf3;
  padding: 13.6rem 0 19.6rem 0;
  width: 100vw; }
  .choos__price__plans {
    display: flex;
    margin-top: 8rem;
    font-family: 'Lato'; }
    .choos__price__plans__block {
      width: 33%;
      height: 44rem;
      padding: 5.6rem 3rem 0 3rem;
      background-color: white;
      transition: all 300ms linear 0ms;
      text-align: center;
      color: #999999; }
      .choos__price__plans__block__price .dollar {
        font-size: 2rem;
        margin: 1.5rem 6rem 1.2rem 0;
        color: #ffbb42; }
        .choos__price__plans__block__price .dollar span {
          font-size: 4.4rem;
          font-weight: 700;
          position: absolute; }
      .choos__price__plans__block__price hr {
        border: 0.5px solid #cccccc;
        margin: 1.5rem 0; }
      .choos__price__plans__block__price .blue {
        color: #cccccc;
        margin: 2rem; }
      .choos__price__plans__block__price__button {
        margin-top: 4rem; }
      .choos__price__plans__block:hover {
        transform: rotate(0deg) scale(1.1, 1.1);
        z-index: 999;
        transition: transform 300ms linear 0ms;
        background-color: #6699cc;
        color: white; }
        .choos__price__plans__block:hover hr {
          background-color: #99cccc; }
        .choos__price__plans__block:hover .blue {
          color: #b3d5f5; }

.how__it__works {
  padding: 15.4rem 0 15.2rem 0;
  text-align: center; }
  .how__it__works .description {
    margin-bottom: 8rem; }
  .how__it__works__diagram {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      text-align: center; }
      .how__it__works__diagram .step img {
        margin-bottom: 2rem; }
    .how__it__works__diagram .arrow__down {
      margin-top: 11rem; }

.happy__clients {
  background-color: #ffc155;
  padding: 14rem 0 16.4rem 0; }
  .happy__clients h2, .happy__clients h3 {
    color: white;
    margin-bottom: 5rem; }
  .happy__clients__comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .happy__clients__comments__block {
      padding: 4.5rem 3rem 5.2rem  3.5rem;
      background-color: white;
      width: 40%;
      margin-bottom: 1.5rem;
      display: flex; }
      .happy__clients__comments__block img {
        width: 9rem;
        height: 9rem;
        margin-right: 2rem; }
      .happy__clients__comments__block .person span {
        color: #f6772c; }

.newsletter {
  padding: 15.4rem 0 5.4rem 0; }
  .newsletter__form {
    padding-bottom: 3rem; }
    .newsletter__form ul {
      list-style-type: none;
      list-style-position: outside;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center; }
    .newsletter__form input {
      margin: 0 2rem;
      /* border: none; */
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 1rem 8rem 1rem 3rem; }
  .newsletter hr {
    margin-top: 5rem;
    border: 1px #e7e8ea solid; }
  .newsletter__map {
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    height: 66vh;
    padding: 4.4rem 0 29.7rem 0;
    background-position: center;
    background-size: cover; }
    .newsletter__map__address {
      text-align: center; }
      .newsletter__map__address h3 {
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        margin-bottom: 0; }
      .newsletter__map__address h4 {
        color: #879295;
        line-height: 2rem; }
        .newsletter__map__address h4 span {
          color: #ffbb42; }
      .newsletter__map__address__text {
        margin-top: -22rem; }
        .newsletter__map__address__text__logo {
          margin-top: 10rem; }

.contacts {
  padding: 6.8rem 0 5.2rem 0;
  text-align: center;
  color: #333366; }
  .contacts__nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; }
    .contacts__nav ul a {
      transition: 1s;
      padding: 1rem 2rem;
      color: #333366; }
      .contacts__nav ul a:hover {
        color: white;
        background-color: #ffbb42;
        padding: 1rem 2rem;
        border-radius: 4px; }
  .contacts__phone h5 {
    font-weight: 500;
    color: #333366; }
  .contacts__links {
    font-size: 2rem; }
    .contacts__links a {
      transition: 1s;
      margin: 0 1.7rem;
      color: #6699cc; }
      .contacts__links a:hover {
        color: #ffbb42; }

.footer {
  background-color: #6699cc;
  margin: 0;
  padding: 2rem 0;
  text-align: center; }
  .footer p {
    font-weight: 300;
    color: white; }

@media (max-width: 320px) {
  .our__servises__items__block {
    width: 90%; }

  .about__us {
    padding: 0 0 22rem 0;
    flex-wrap: wrap; }
    .about__us .image {
      height: 37%;
      width: 100vw;
      background-size: cover; }
    .about__us__text {
      width: 100vw; }

  .choos__price__plans {
    display: flex;
    flex-wrap: wrap; }
    .choos__price__plans__block {
      width: 100%;
      margin-bottom: 5rem;
      color: #999999;
      background-color: white; }
      .choos__price__plans__block:hover {
        transform: rotate(0deg) scale(1, 1);
        z-index: 999;
        transition: transform 300ms linear 0ms;
        background-color: white; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem; }
    .how__it__works__diagram .arrow {
      display: none; }

  .happy__clients__comments__block {
    width: 90%; }
    .happy__clients__comments__block img {
      width: 7rem;
      height: 7rem;
      margin-right: 2rem; }

  .newsletter {
    padding: 15.4rem 0 5.4rem 0; }
    .newsletter__map {
      height: 81rem; }
    .newsletter__form ul {
      flex-wrap: wrap; }
      .newsletter__form ul input {
        margin-bottom: 2rem; } }
@media (max-width: 375px) {
  .our__servises__items__block {
    width: 90%; }

  .about__us {
    flex-wrap: wrap; }
    .about__us .image {
      height: 44%;
      width: 100vw;
      background-size: cover; }
    .about__us__text {
      width: 100vw; }

  .choos__price__plans {
    display: flex;
    flex-wrap: wrap; }
    .choos__price__plans__block {
      margin-bottom: 5rem;
      width: 100%;
      background-color: white; }
      .choos__price__plans__block:hover {
        transform: rotate(0deg) scale(1, 1);
        z-index: 999;
        transition: transform 300ms linear 0ms;
        background-color: white; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 30%; }
    .how__it__works__diagram .arrow {
      display: none; }

  .happy__clients__comments__block {
    width: 90%; }
    .happy__clients__comments__block img {
      width: 7rem;
      height: 7rem;
      margin-right: 2rem; }

  .contacts__nav ul {
    flex-direction: column;
    display: flex; }

  .home {
    padding: 10rem 0 20rem 0; }
    .home ul {
      flex-wrap: wrap; }
      .home ul input {
        margin: 0 32rem 2rem 32rem; }
    .home__banner__laptop {
      margin-top: 6rem;
      position: absolute;
      height: auto;
      width: auto;
      max-width: 303px;
      max-height: 300px; } }
@media (max-width: 425px) {
  .our__servises__items__block {
    width: 80%; }

  .about__us {
    flex-wrap: wrap;
    padding-bottom: 24rem; }

  .choos__price__plans {
    display: flex;
    flex-wrap: wrap; }
    .choos__price__plans__block {
      margin-bottom: 5rem;
      width: 100%;
      background-color: white; }
      .choos__price__plans__block:hover {
        transform: rotate(0deg) scale(1, 1);
        z-index: 999;
        transition: transform 300ms linear 0ms;
        background-color: white; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 50%; }
    .how__it__works__diagram .arrow__down {
      display: none; }

  .happy__clients__comments__block {
    width: 90%; }
    .happy__clients__comments__block img {
      width: 9rem;
      height: 9rem;
      margin-right: 2rem; }

  .contacts__nav ul {
    flex-direction: column;
    display: flex; }

  .newsletter {
    padding: 15.4rem 0 5.4rem 0; }
    .newsletter__map {
      height: 81rem; }
    .newsletter__form ul {
      flex-wrap: wrap; }
      .newsletter__form ul input {
        margin-bottom: 2rem; }

  .home {
    padding: 10rem 0 21rem 0; }
    .home ul {
      flex-wrap: wrap; }
      .home ul input {
        margin: 0 32rem 2rem 32rem; }
    .home__banner__laptop {
      max-width: 30rem; } }
@media (max-width: 645px) {
  .our__servises__items__block {
    width: 80%; }

  .about__us {
    flex-wrap: wrap; }
    .about__us .image {
      height: 75%;
      width: 100vw;
      background-size: cover; }
    .about__us__text {
      width: 100vw; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 50%; }
    .how__it__works__diagram .arrow {
      display: none; }

  .home {
    padding: 10rem 0 20rem 0; }
    .home ul {
      flex-wrap: wrap; }
      .home ul input {
        margin: 0 32rem 2rem 32rem; }
    .home__banner__laptop {
      margin-top: 6rem;
      position: absolute;
      height: auto;
      width: auto;
      max-width: 377px; } }
@media (max-width: 768px) {
  .about__us {
    flex-wrap: wrap; }
    .about__us .image {
      height: 50%;
      width: 100%;
      background-size: cover; }
    .about__us__text {
      width: 100vw; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 80%; }
    .how__it__works__diagram .arrow {
      display: none; }

  .happy__clients__comments__block {
    width: 80%; }
    .happy__clients__comments__block img {
      width: 12rem;
      height: 12rem;
      margin-right: 2rem; }

  .contacts__nav ul {
    flex-direction: column;
    display: flex; } }
@media (max-width: 896px) {
  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 50%; }
    .how__it__works__diagram .arrow {
      display: none; } }
@media (max-width: 900px) {
  .about__us {
    flex-wrap: wrap;
    padding: 0 0 17.5rem 0; }
    .about__us .image {
      height: 70%;
      width: 100%;
      background-size: cover; }
    .about__us__text {
      width: 100vw;
      margin-top: 5rem; }

  .how__it__works__diagram {
    display: flex;
    flex-wrap: wrap; }
    .how__it__works__diagram .step {
      margin-top: 4rem;
      width: 50%; }
    .how__it__works__diagram .arrow__down {
      display: none; } }
@media (max-width: 1024px) {
  .newsletter__map {
    height: 17vh; }

  .home ul {
    flex-wrap: wrap; }
    .home ul input {
      margin: 0 32rem 2rem 32rem; } }
@media (max-width: 1440px) {
  .newsletter__map {
    height: 30vh; } }
@media (max-width: 2560px) {
  .newsletter__map {
    height: 43vh; } }

/*# sourceMappingURL=style.css.map */
